<!DOCTYPE html>
<html>
<head>
  <title>Hello {{first_name}} {{last_name}}</title>
</head>
<body>

  <h1>Hello {{first_name}} {{last_name}}!</h1>

  {{markdown content}}

  <p>Number of visits: {{counter}}</p>

</body>
</html>
